/* setting size of the navbar  */

.navbar {

    min-height: 80px;
    position: relative;
    overflow: hidden;
}


/* color block on my name  */

.myName {
    position: absolute;
    background-color: rgb(122, 113, 84);
    color: white !important;
    margin-left: 50px;
    height: 80px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

/* background image within the body and font type  */



body {
    background-image: url(http://fg-a.com/wallpapers/marble-white-1-2018.jpg);
    background-color: #cccccc;
    font-family: 'Source Code Pro', Arial, Helvetica, sans-serif ;
   }

   /* adding the bars within the navmenu */
   .vl {
    border-right: 1px solid grey;
    border-top: 1px;
    
}

/* space between image grid  */

img {
    padding-right: 10%;
    padding-bottom: 10%;
}

/* trying to get images to stack when screen is less 640px NOT WORKING  */

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }


  /* trying to make a section of the background white with the portfolio images NOT WORKING  */
#portBackground {
    {
        background-color: blue !important;
        height: 100% !important;
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
      }
  
}

  /* bottom of page line  */

  .bottom-hr {
    background-color: black;
    min-height: 5px;
    opacity: 0.5;
}

/* positioning copyright logo */

footer p {
    text-align: center;
    font-size: 10px;
    padding: auto;
}






/* scaling down for screensize 640 */

@media only screen and (max-width: 640px) {
    .container-sm-8 {
        position: sticky;
        margin-left: 20px;
    }

    /* NOT WORKING  */
    .myName {
        display: flex;
        justify-content: center;
    }
    .navbar {
        display: flex;
        justify-content: center;
    }

    .responsive {
        width: 100%;
      }
   

}







/* scaling down for screensize 786 */


@media only screen and (max-width: 768px) {
    .container-md-8 {
    position: sticky;
     margin-right: 20px;
    }

   
}

/* scaling down for screensize 980 */


@media only screen and (max-width: 980px) {
    .container-lg-8 {
    position: sticky;
    margin-right: 20px;
    }

}



